<?xml version="1.0" ?>
<launch>
  
  <arg name="global_path" default="$(find panda)/launch/"/>
  <arg name="local_path" default="$(arg global_path)/elisa/two"/>
  
  <!-- Artificial network -->
  <arg name="network" default="false"/>

  <arg name="collect_bags" default="false"/>

  <!-- Launch general nodes -->
  <include file="$(arg global_path)/general.launch">
  	<arg name="collect_bags" value="$(arg collect_bags)"/>
    <arg name="global_path" value="$(arg global_path)"/>
    <arg name="local_path" value="$(arg local_path)"/>
    <arg name="network" value="$(arg network)"/>
  </include>

  <!-- Launch the camera -->
  <include file="$(find elisa_vision)/launch/elisa_vision.launch"/>

  <!-- Launch Elisa robots -->
  <node pkg="panda" type="Elisa3_Node" name="elisa3_0" output="screen">
    <rosparam command="load" file="$(arg local_path)/elisa3_0.yaml" />
    <rosparam command="load" file="$(arg global_path)/elisa/elisa3.yaml" />
  </node>

  <node pkg="panda" type="Elisa3_Node" name="elisa3_1" output="screen">
      <rosparam command="load" file="$(arg local_path)/elisa3_1.yaml" />
    <rosparam command="load" file="$(arg global_path)/elisa/elisa3.yaml" />
  </node>

  <!-- Plot cooperative coordinates -->
  <node name="plotjes" pkg="rqt_plot" type="rqt_plot" args="agents/0/z/data[0] agents/0/z/data[1] agents/1/z/data[0] agents/1/z/data[1]" />

  <!-- "agents/0/z/data[1] agents/0/z/data[2] agents/1/z/data[0] agents/1/z/data[1]" -->

</launch>
