<?xml version="1.0"?>
<launch>

<rosparam command="load" file="$(find panda)/config/2Dparams.yaml" />

<node name="Remote" pkg="panda" type="Remote" output="log"/>


<node name="Agent_0" pkg="panda" type="Agent_node" output="screen">
  <param name="i_id" value="0"/>
</node>

<node name="Agent_1" pkg="panda" type="Agent_node" output="log">
  <param name="i_id" value="1"/>
</node>
<!-- 
<node name="Agent_2" pkg="panda" type="Agent_node" output="log">
  <param name="i_id" value="2"/>
</node>

<node name="Agent_3" pkg="panda" type="Agent_node" output="log">
  <param name="i_id" value="3"/>
</node> -->

</launch>