<?xml version="1.0" ?>
<library path="lib/libpanda">
  <class name="panda/Panda"
         type="panda::Panda"
         base_class_type="controller_interface::ControllerBase">
    <description>
      Controls Panda using passivity based control
    </description>
  </class>
	<class name="panda/ConnectedPandasim"
	     type="panda::ConnectedPandasim"
	     base_class_type="controller_interface::ControllerBase">
		<description>
		  Controls Panda using passivity based control, is adapter for simulation
		</description>
	</class>
</library>
