<?xml version="1.0" ?>
<launch>

	<rosparam command="load" file="$(find panda)/launch/Elisa3/params_two.yaml" />
	<rosparam command="load" file="$(find panda)/launch/Elisa3/goals.yaml" />

    <node pkg="panda" type="Elisa3_Station" name="station" output="screen" />
    <node pkg="panda" type="Remote" name="remote" output="screen" />

    <node pkg="panda" type="Elisa3_Node" name="elisa3_1" output="screen"/>

    <node pkg="panda" type="Elisa3_Node" name="elisa3_2" output="screen"/>

    <node name="plotjes" pkg="rqt_plot" type="rqt_plot" args="/elisa3_1/q/data[0] /elisa3_1/q/data[1] /elisa3_2/q/data[0] /elisa3_2/q/data[1]"  />

<!--
    <param name="robot_description" textfile="$(find panda)/urdf/elisa3_urdf.xml"/>
    <node name="elisa3_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="tf_prefix" value="elisa3_1" />
    </node>
    <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find panda)/config/elisa3_single_rviz.rviz"/>
 -->

</launch>
