<?xml version="1.0"?>
<!-- Launch script for a simulation of the panda while connected to the robot directly -->
<launch>

	<arg name="robot_ip" default="172.16.0.2"/>
	<arg name="load_gripper" default="false" />
	<arg name="controller_type" default="connectedpandasim"/>

	<arg name="global_path" default="$(find panda)/launch"/>
	<arg name="local_path" default="$(arg global_path)/connected_panda"/>

	<!-- Artificial network -->
	<arg name="network" default="true"/>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/robots/panda_arm_camera.urdf.xacro'" />
	<include file="$(find panda_simulation)/launch/sim.launch"/>

	<!-- Load parameters (see files) -->
	<rosparam command="load" file="$(arg local_path)/params.yaml" />
	<rosparam command="load" file="$(arg global_path)/goals.yaml" />


	<!-- Launch general nodes -->
	<include file="$(arg global_path)/general.launch">
	<arg name="global_path" value="$(arg global_path)"/>
	<arg name="local_path" value="$(arg local_path)"/>
	<arg name="network" value="$(arg network)"/>
	</include>

	<!-- Launch the panda -->
	<include file="$(arg global_path)/panda.launch">
	<arg name="robot_ip" value="$(arg robot_ip)"/>
	<arg name="load_gripper" value="$(arg load_gripper)"/>
	<arg name="global_path" value="$(arg global_path)"/>
	<arg name="local_path" value="$(arg local_path)"/>
	<arg name="controller_type" value="$(arg controller_type)"/>
	</include>

	<!-- Create a beacon -->
	<node name="beacon_1" pkg="panda" type="Beacon_node" respawn="false" output="screen">
	<rosparam command="load" file="$(arg local_path)/beacon.yaml"/>
	</node>

	<!-- Plot cooperative coordinates -->
	<node name="plotjes" pkg="rqt_plot" type="rqt_plot" args="agents/0/z/data[0] agents/0/z/data[1] agents/0/z/data[2] reference/data[0] reference/data[1]" />

	<!-- <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_example_controllers)/launch/robot_w_marker.rviz"/> -->
	<!-- <node name="interface" pkg="panda" type="TextInterface_Node" respawn="false" output="screen"/> -->

 	<!-- <arg name="robot_ip" default="172.16.0.2"/>
	<arg name="load_gripper" default="false" />
	<param name="robot_description" command="$(find xacro)/xacro inorder '$(find franka_description)/robots/panda_arm_camera.urdf.xacro'" />
	<include file="$(find panda_simulation)/launch/sim.launch"/>
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="connectedpandasim"/>

	<rosparam command="load" file="$(find panda)/launch/connected_panda/params.yaml" />
	<rosparam command="load" file="$(find panda)/launch/goals.yaml" />
	<rosparam command="load" file="$(find panda)/launch/network.yaml" />

	<node name="Server" pkg="panda" type="Server" output="screen"/>



	<node name="franka_control" pkg="franka_control" type="franka_control_node" output="screen" required="true">
		<rosparam command="load" file="$(find franka_control)/config/franka_control_node.yaml" />
		<rosparam command="load" file="$(find panda)/launch/connected_panda/panda.yaml"/>
		<param name="robot_ip" value="$(arg robot_ip)" />
	</node>

	<rosparam command="load" file="$(find franka_control)/config/default_controllers.yaml" />
	<node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="franka_state_controller"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

	<node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">
		<rosparam if="$(arg load_gripper)" param="source_list">[franka_state_controller/joint_states, franka_gripper/joint_states] </rosparam>
		<rosparam  unless="$(arg load_gripper)" param="source_list">[franka_state_controller/joint_states] </rosparam>
		<param name="rate" value="30"/>
	</node>

	<node name="NetworkNode" pkg="panda" type="NetworkNode" output="screen"/>

	<node name="Beacon_1" pkg="panda" type="Beacon_node" output="screen">
		<rosparam command="load" file="$(find panda)/launch/connected_panda/beacon.yaml" />
	</node>


	<node name="plotjes" pkg="rqt_plot" type="rqt_plot" args="agents/0/z/data[0] agents/0/z/data[1] agents/0/z/data[2] reference/data[0] reference/data[1]"/> -->

<!-- 	<node pkg="rosbag" type="record" name="rosbag_agents"
       args="record -o $(find panda)/bags/agents /agents/0/z /reference"/>

   <node pkg="rosbag" type="record" name="rosbag_waves"
       args="record -o $(find panda)/bags/waves /s_01p_in /s_01p_out /s_01m_in /s_01m_out"/> -->
	<!-- <node name="plotjes2" pkg="rqt_plot" type="rqt_plot" args="/robot1/panda_joint1_controller/command/data /robot1/panda_joint2_controller/command/data /robot1/panda_joint3_controller/command/data" /> -->
 

	<!-- <include file="$(find franka_control)/launch/franka_control.launch">
	    <arg name="robot_ip" value="$(arg robot_ip)" />
	    <arg name="load_gripper" value="$(arg load_gripper)" />
	</include> -->

</launch>