<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/robots/panda_arm_camera.urdf.xacro'" />
	<include file="$(find panda_simulation)/launch/sim.launch"/>

	<rosparam command="load" file="$(find panda)/launch/gazebo/1D/params.yaml" />
	<rosparam command="load" file="$(find panda)/launch/gazebo/1D/goals.yaml" />
	<node name="plotjes" pkg="rqt_plot" type="rqt_plot" args="agent_z/data[0] reference/data[0]"/>

	<node name="Remote" pkg="panda" type="Remote" output="screen"/>
	<node name="Agent_0" pkg="panda" type="Agent_node" output="screen">
		<rosparam command="load" file="$(find panda)/launch/gazebo/1D/pandasim.yaml" />
	</node>

	<node name="Beacon_1" pkg="panda" type="Beacon_node" output="log">
		<rosparam command="load" file="$(find panda)/launch/gazebo/1D/beacon.yaml" />
	</node>




	<!-- <node name="plotjes2" pkg="rqt_plot" type="rqt_plot" args="/robot1/panda_joint1_controller/command/data /robot1/panda_joint2_controller/command/data /robot1/panda_joint3_controller/command/data" /> -->
 

</launch>