<?xml version="1.0" ?>
<launch>

  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="load_gripper" default="false" />
  
  <arg name="global_path" default="$(find panda)/launch"/>
  <arg name="local_path" default="$(arg global_path)/beacon_panda"/>
  
  <!-- Artificial network -->
  <arg name="network" default="true"/>

  <!-- Load parameters (see files) -->
  <rosparam command="load" file="$(arg local_path)/params.yaml" />
  <rosparam command="load" file="$(arg global_path)/goals.yaml" />

  <!-- Create a beacon -->
  <node name="beacon_1" pkg="panda" type="Beacon_node" respawn="false" output="screen">
    <rosparam command="load" file="$(arg local_path)/beacon.yaml"/>
    <rosparam command="load" file="$(arg global_path)/environment.yaml"/>
  </node>

  <!-- Launch the panda -->
  <include file="$(arg global_path)/panda.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="load_gripper" value="$(arg load_gripper)"/>
    <arg name="global_path" value="$(arg global_path)"/>
    <arg name="local_path" value="$(arg local_path)"/>
  </include>

  <!-- Launch general nodes -->
  <include file="$(arg global_path)/general.launch">
    <arg name="global_path" value="$(arg global_path)"/>
    <arg name="local_path" value="$(arg local_path)"/>
    <arg name="network" value="$(arg network)"/>
  </include>


    <!-- Plot cooperative coordinates -->
  <node name="plotjes" pkg="rqt_plot" type="rqt_plot" args="agents/0/z/data[0] agents/0/z/data[1] agents/0/z/data[2] reference/data[0] reference/data[1] reference/data[2]" />
    <!-- Plot cooperative coordinates -->
<!--   <node name="plotjes" pkg="rqt_plot" type="rqt_plot" args="/s_01p/s/data[0] /s_01p/s/data[1] /s_01p/s/data[2] /s_01m/s/data[0] /s_01m/s/data[1] /s_01m/s/data[2]" /> -->

  <!-- <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_example_controllers)/launch/robot_w_marker.rviz"/> -->
  <node name="interface" pkg="panda" type="TextInterface_Node" respawn="false" output="screen"/>

</launch>